<!DOCTYPE html>
<html>
    <head>
        <title>Bitcoin testnet3 Wallet</title>
        <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/scripts/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/scripts/sweetalert2/dist/sweetalert2.min.css">
        <link rel="stylesheet" href="/styles/css/style.css">
    </head>
    <body>

    <div class="container">
        <nav class="nav nav-pills nav-justified">
            <a class="<%= (page === 'home') ? 'nav-item nav-link active' : 'nav-item nav-link' %>" href="/">Bitcoin Testnet3 Wallet</a>
            <a class="<%= (page === 'receive') ? 'nav-item nav-link active' : 'nav-item nav-link' %>" href="/receive">Receive</a>
            <a class="<%= (page === 'send') ? 'nav-item nav-link active' : 'nav-item nav-link' %>" href="/send">Send</a>
        </nav>
    </div>

    <br>

