<% include ./partials/header %>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Address: <%= address %></th>
            <th scope="col">Testnet Bitcoin</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Balance</th>
            <td><i class="fa fa-btc"></i><%= JSON.stringify(balance) %></td>
        </tr>
        <tr>
            <th scope="row">Total Received</th>
            <td><i class="fa fa-btc"></i><%= JSON.stringify(totalReceived) %></td>
        </tr>
        <tr>
            <th scope="row">Total Sent</th>
            <td><i class="fa fa-btc"></i><%= JSON.stringify(totalSent) %></td>
        </tr>
        </tbody>
    </table>
</div>

<% include ./partials/footer %>