<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label for="basic-url">Fund your account</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control" placeholder="Enter an amount" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Fund</button>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>