<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label for="basic-url">Fund your account</label>
            <form action="/receive" method="POST">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-btc"></i></span>
                    </div>
                    <input name="amount" type="number" class="form-control" placeholder="Enter an amount up to 500,000 Testnet Bitcoins" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary">Fund</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>